<!DOCTYPE html> 
<html> 
<head>     
<title>Simple calculator</title>     
<script src="Scripts/angular.js"></script>     
<script src="Scripts/Script.js"></script> 
<script src="Scripts/calculator.js"></script>     
<link href="css/bootstrap.min.css" rel="stylesheet" /> 
</head> 
<body ng-app="myModule">     
<div ng-controller="myController">         
<table class = "table">             
<tr>                 
<td>
Number 1:  &nbsp&nbsp&nbsp&nbsp<input type="text" ng-model="input1" />           													&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      
Number 2:  &nbsp&nbsp&nbsp&nbsp<input type="text" ng-model="input2" /> </td>             
</tr>             
<tr>                 
<td>Result:  &nbsp&nbsp&nbsp&nbsp<input type="text" ng-model="output" /></td>                 
</tr> 
<tr>                 
<td>
<input type="button" ng-click="cal(input1,input2,4)" value="Div" />   																	&nbsp&nbsp&nbsp                         
<input type="button" ng-click="cal(input1,input2,3)" value="Mul" />   																	&nbsp&nbsp&nbsp              
<input type="button" ng-click="cal(input1,input2,2)" value="Sub" />   																	&nbsp&nbsp&nbsp                                 
<input type="button" ng-click="cal(input1,input2,1)" value="Add" />   																	&nbsp&nbsp&nbsp              
</td>             
</tr>         
</table>     
</div> 
</body> 
</html>  